
@media screen and (max-width:1366px){
	section.home-sec-1{
		min-height: inherit;
	}
	section.about-sec-3{
		min-height: 635px;
	}
	section.about-sec-3 .inners_sec{
		margin-top: 0 !important;
	}
	section.about-sec-2 .ins_pictmid_grey{
		right: -17%;
	}
	section.about-sec-2 .ins_pictmid_grey.rights{
		left: -17%;
	}
	.hanya-ipad{
		display: none;
	}
}

@media screen and (max-width:1280px){
	section.about-sec-2 .box-content .title p{
		font-size: 25px;
	}
	.hanya-ipad{
		display: none;
	}
	section.about-sec-2 .box-content .subtitle p span{
		position: relative;
		display: inline-block;
		top: -2px;
	}
	section.about-sec-2 .box-content .content p{
		margin-bottom: 1.5em;
		font-size: 14px;
	
	}
	section.about-sec-2 .ins_pictmid_grey{
		right: -18%;
	}
	section.about-sec-2 .ins_pictmid_grey.rights{
		left: -18%;
	}
}

@media screen and (max-width:1024px){
	section.about-sec-1 p{
		font-size: 24px;
	}
	.hanya-ipad{
		display: none;
	}
	section.about-sec-2 .box-content .title p{
		font-size: 15px;
	}
	section.about-sec-2 .box-content .subtitle p{
		font-size: 13px;
	}
	section.about-sec-2 .box-content .content p {
		margin-bottom: 1.3em;
		font-size: 11px;
	}
	section.about-sec-2 .ins_pictmid_grey{
		right: -23%;
	}
	section.about-sec-2 .ins_pictmid_grey.rights{
		left: -23%;
	}
	section.home-sec-3 .box .box-inside p{
		font-size: 32px;
	}
	section.about-sec-4 .content p{
		font-size: 18px;
	}
}

@media screen and (max-width:768px){

	.outers_abs_contents_blc{
		display: none;
	}

	.hanya-ipad{
		display: inline-block;
	}
	section.home-sec-4 .box .box-inside p,
	section.home-sec-3 .box .box-inside p{
		font-size: 25px;
	}
	section.home-sec-4 .box .box-inside,
	section.home-sec-3 .box .box-inside{
		padding-left: 20px;
	}
	.menu-taffix ul li a{
		font-size: 13px;
	}
	.menu-taffix ul li{
		padding: 0 0 0 5px;
	}
	section.home-sec-5 .row .articles .title-article{
		font-size: 18px;
	}
	section.header-affixs {
		display: none;
	}
	.menu-block-bottom.cmenubot ul li a {
		font-size: 10.5px;
		font-weight: 700;
		color: #373435;
		line-height: 1;
	}
	.menu-block-bottom.cmenubot ul li{
		margin: 0;
	}
	.menu-block-bottom.cmenubot ul {
		/* margin: 0; */
		margin-top: -10px;
	}
	.menu-block-bottom.cmenubot ul li {
		margin-left: 10px;
	}
	header.head .tops_nheaders .inners_right .nbcsll_backright{
		display: none !important;
	}
	.blosn-languagemenu ul li a, .menu-block-top ul li a{
		font-size: 13px;
	}
	.blosn-languagemenu ul li, .menu-block-top ul span{
		font-size: 13px;
	}
	.blosn-languagemenu ul li, .menu-block-top ul span a{
		color: #555555;
	}
	.d-inline-block.align-bottom.blosn-languagemenu.nc2.pl-4.align-bottom {
		padding-left: 10px !important;
	}
	ul.list-inline.d-inline.align-bottom.buat_ipad{
		position: relative;
		top: 1px;
	}
	header.head .tops_nheaders{
		min-height: 25px;
	}
	header.head{
		min-height: 85px;
	}
}

@media screen and (max-width:450px){
	.prelative.container{

	}
	.hanya-ipad{
		display: none;
	}
	section.home-sec-3 .box .box-inside,
	section.home-sec-4 .box .box-inside{
		padding-left: 20px;
	}
	section.home-sec-4 .box .box-inside p{
		font-size: 32px;
	}
	section.home-sec-1 .row .title p{
		padding-top: 70px;
	}
	section.home-sec-3 .prelative.container{
		padding-top: 0 !important;
	}
	.bottoms_leftsbrand img{
		padding-top: 1.8em;
	}
	section.footer .row .menu-box .title{
		padding-top: 1.8em;
	}
	section.about-sec-2 .inners{
		padding: 20px 0 !important;
	}
	section.about-sec-4 .title-com-dir p{
		padding-top: 1em;
	}
	section.home-sec-1 .row{
		padding: 0 !important;
	}
	section.home-sec-1{
		min-height: 700px;
	}
	section.home-sec-1 .row .content{
		padding-top: 20px !important;
	}
	section.home-sec-1 .row .content p,
	section.home-sec-1 .row .tombol{
		padding-left: 0;
	}
	section.home-sec-2 .row .title p,
	section.home-sec-2 .row .subtitle p{
		text-align: left;
	}
	.subtitle.text-right img{
		text-align: left;
		float: left;
	}
	section.home-sec-3 .box .box-inside p{
		font-size: 25px;
	}
	section.home-sec-3 .box.first{
		padding-bottom: 20px;
	}
	section.home-sec-4 .box.first{
		padding-bottom: 20px;
	}
	section.home-sec-3 p.content-above-logo-small{
		text-align: left;
	}
	.clear.height-50{
		display: none;
	}
	section.footer-bawah .row .kiri p{
		text-align: left;
		float: none;
	}
	section.insidespg-cover .prelative.container .insides_intext p{
		font-size: 18px;
	}
	section.about-sec-1 p{
		text-align: left;
		font-size: 23px;
	}
	section.about-sec-2 .ins_pictmid_grey{
		position: relative;
	}
	section.about-sec-2 .box-content{
		padding: 0 !important;
	}
	section.about-sec-2 .box-content{
		margin: 0 !important;
		padding: 0 15px !important;
	}
	section.about-sec-2 .box-content .content p{
		margin-bottom: 1.5em;
	}
	section.about-sec-2 .box-content .title p{
		font-size: 28px;
	}
	section.about-sec-4 .content p{
		font-size: 20px;
	}
	section.about-sec-2 .box-content .subtitle p{
		padding-top: 20px;
	}
	section.other-news .box-news{
		padding-top: 10px !important;
	}
	section.process-sec-1 .prelative.container .row .subtitle p{
		font-size: 15px;
	}
	header.insides-head,
	header.head{
		display: none;
	}

	.navbar-nav.ml-auto{
	    .list-inline-item.menu-responsive{
	        text-transform: uppercase;
	        font-size: 15px;
	        font-weight: 500;
	        padding-left: 0;
	        padding-right: 0;
	        border-bottom: 1px #6d6d6d solid;
	        padding-top: 5px;
	        padding-bottom: 5px;    
	        a{
	            color: #848486;
	        }
	        a:hover{
	            text-decoration: none;
	        }
	    }
	}
	.logosn-headers.d-block.d-sm-none{
	    a{
	        .img.img-fluid.d-block{
	            width: 75%;
	        }
	    }
	}

	 nav.navbar.navbar-light{
        padding-left: 0;
    }
    .navbar-nav.ml-auto .list-inline-item.menu-responsive a{
        font-size: 13px;
    }
    header.header-mobile.homepage_head .menu-headers{
        margin-right: 25px;
    }
    header.header-mobile.homepage_head{
    	padding: 0 15px;
	    nav.navbar.navbar-light{
	    	background-color: #fff !important;
	    	padding-left: 15px; padding-right: 15px;
	    }
	    .navbar-brand{
	    	max-width: 240px;
	    	padding-top: 0.7em;
	    	padding-bottom: 0.7em;
	    }
	    .navbar-toggler{
	    	border: 0px; box-shadow: none;
	    	padding: 0px;
	    }

	    ul.navbar-nav{
	    	li{
	    		a{
	    			color: #000 !important;
	    			font-size: 13px; font-weight: 400;
	    			padding: 0.35rem 0;
	    			display: block;
	    		}
	    		border-bottom: 1px solid #ccc;
	    		.dropdown-menu{
	    			border: 0px; 
	    			padding:0;
	    			li{
	    				a{
	    					margin-top: 0;
	    					padding-left: 1em;
	    				}
	    			}
	    		}
	    	}
	    	li.lasts_item{
	    		border-bottom: 0;
	    		a{
	    			display: inline-block;
	    		}
	    	}
	    	li.dropdown{
	    		a{
	    			padding: 0.35rem 0 !important; 
	    		}
	    	}
	    }
    }
    body, html{
    	height: auto;
    	overflow-x: hidden;
	}
	
	section.about-sec-2 .ins_pictmid_grey {
		position: relative;
		top: inherit;
		right: inherit;
		display: block;
		width: auto;
		text-align: center;
		background-color: #fff;
		padding: 1em 0 2em;
	}

	section.about-sec-2 .box-content .title p {
		font-size: 25px;
	}
	.fcs-wrapper.outers_fcs_wrapper{
		min-height: 440px;
	}
	section.product-sec-1 .title-section p,
	section.productind-sec-1 .title-section p{
		font-size: 12px;
	}
	section.product-sec-1 .content p,{
		font-size: 18px;
		margin-bottom: 0;
	}
	section.product-sec-1 .content{
		padding-bottom: 0 !important;
	}
	section.product-sec-1 .title-films p{
		padding-top: 25px;
	}
	section.productind-sec-1 .content p{
		font-size: 18px;
		padding-bottom: 10px;
	}
	section.prd-sec-1 .content p{
		font-size: 18px;
	}
	section.prd-sec-1 .title h2{
		font-size: 30px;
	}
	section.prdind-detail-sec-1 .breadcumb-title p a{
		font-size: 12px;
	}
	section.prdind-detail-sec-1 .title-prd h1{
		font-size: 30px;
	}
	section.breadcumb{
		padding-top: 75px;
	}
	section.breadcumb2 .breadcumb-title p a{
		font-size: 12px;
	}
	section.breadcumb2 .pilihan{
		padding-top: 30px;
	}
	section.breadcumb2 .pilihan ul li a{
		font-size: 18px;
	}
	section.breadcumb2 .title p{
		padding-top: 15px;
	}
	section.breadcumb2 .articles{
		padding-top: 15px !important;
	}
	section.breadcumb2 .articles .title-article,
	section.news .prelative.container .row .box-news .title-news h1,
	section.other-news .prelative.container .row .box-news .title-news h1{
		font-size: 18px;
	}
	section.breadcumb2 .articles .content{
		padding-bottom: 20px !important;
	}
	section.other-news .row{
		padding-bottom: 0 !important;
	}
	section.news .prelative.container .title p{
		padding-top: 0 !important;
	}
	section.process-sec-1 .prelative.container{
		padding-top: 0 !important;
	}
	section.process-sec-1 .prelative.container .row .title p{
		font-size: 20px;
	}
	section.process-sec-1 .prelative.container .row .subtitle{
		padding-bottom: 20px !important;
	}
	section.process-sec-1 .prelative.container .row .content{
		padding-bottom: 10px !important;
		margin-bottom: 0 !important;
	}
	section.about-sec-1 p{
		font-size: 20px;
	}
	section.about-sec-1 .prelative.container{
		padding: 0 15px !important;
	}
	section.about-sec-2 .box-content .title p{
		font-size: 18px;
	}
	section.about-sec-2 .box-content .content p{
		font-size: 14px;
	}
	section.about-sec-3 .inners_sec{
		padding-top: 0 !important;
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
	section.about-sec-3{
		background: url(../images/about-sec-5_04.jpg) left no-repeat;
	}
	section.about-sec-3 .box-mission{
		margin-bottom: 0 !important;
	}
	section.about-sec-4{
		padding-top: 3rem;
	}
	section.about-sec-4 .content p{
		font-size: 18px;
	}
	section.career-sec-1 .title p span{
		// font-size: 13px;
		position: relative;
		top: -2px;
	}
	section.career-sec-1 .title p{
		font-size: 13px;
	}
	section.career-sec-1 .pos{
		padding-top: 0 !important;
	}
	section.news-detail-sec-2 .row .box-news .title-news h1{
		font-size: 18px;
		margin-bottom: 0;
	}
	section.prdind-detail-sec-1 .box-detail a h2{
		margin-bottom: 2em;
	}
	section.header-affixs{
		display: none;
		
	}
	section.breadcumb .back a,
	section.breadcumb .back a p{
		font-size: 15px;
	}

	.button-back-after.text-right{
		text-align: left !important;
	}
	section.prd-sec-1 .button-back-after a{
		font-size: 12px;
	}

} 

@media screen and (min-width:450px){
	header.insides-head,
	header.head{
		display: block;
	}
	header.header-mobile.homepage_head{
		display: none;
	}
}
